body{
    background-color:black; 
    text-align: center; 
    font-family: Helvetica;
}

#header{
  margin: 0 auto;
  width: 810px;
  padding: 1em;
  border: 3px dashed #FFD700;
  border-radius: 1em; 
  background-color: #696969;
  font-size: 25px;
  font-weight: bold;
  color:#8B0000 ;   
}

#container{
  background-color:black; 
  width: 855px; 
  margin-left: auto; 
  margin-right: auto; 
}

#gameDiv{
    margin: 0 auto;
    width: 820px;
    padding: 1em;
    border: 3px dashed #FFD700;
    border-radius: 1em;
    background-color:#696969;
}